<ion-header>
	<ion-toolbar>
		<ion-title>Login</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form class="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
		<ion-list>
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Contraseña</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
		</ion-list>
		<ion-button
			expand="full"
			type="submit"
			[disabled]="!loginForm.valid"
			class="margin-top-20"
			>Inicio de session</ion-button
		>
		<ion-button expand="full" (click)="navigateToRegister()" class="margin-top-20"
			>No tienes una cuenta? Regístrate</ion-button
		>
	</form>
</ion-content>
